.container
{
    background-color: #836A6A;
    min-height: 100vh;
}



.image-container {
    display: flex;
    justify-content: center;  
    align-items: center;  
    gap: 40px;
  }
  
  .image {
    width: 100px; 
  }
  

 
  .image-item {
    text-align: center;
}

.center-item {
    transform: scale(1.1); 
}
  
  .image-item img {
    width: 100px; 
  }
  
  .image-item p {
    color: white;
    margin-top: 8px; 
  }
  