<div class="container">
    <div class="row">
        <div class="col-12">
        
            <div style="text-align: center; ">
                <img src="/Red-Delicious-Food-Restaurant-Logo.jpg" style="border-radius: 125px;width: 30%; text-align: center; margin-top: 10%;">
                
            </div>
            <div  style="text-align: center;margin-top: 20%">
                <img src="/shopping.png">
                <p style="color: white; margin-top: 2%;">Shopping list</p>
            </div>
            <div class="image-container" style="margin-top: 10%;">
                <div class="image-item" (click)="addItem()">
                    <img src="/add.png" alt="Add" style="width: 60%;">
                    <p>Add Item(s)</p>
                </div>
            
                <div class="image-item center-item" style="margin-right: 3%;" (click)="ViewPantry()">  
                    <img src="/view.png" alt="View">
                    <p>View Pantry</p>
                </div>
            
                <div class="image-item">
                    <img src="/expiry.png" alt="Expiry" style="width: 100%;">
                    <p>Expiring</p>
                </div>
            </div>
            <div  style="text-align: center;margin-top: 10%" (click)="generateRecipe()">
                <img src="/ai recipe.png">
                <p style="color: white; margin-top: 2%;">Recipe</p>
            </div>
              
            
            

        </div>

    </div>



</div>
